<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Document</title>
	<link rel="stylesheet" href="estilos.css">
	<link rel="stylesheet" href="normalize.css">
	<link rel="stylesheet" href="iconos/style.css">
</head>
<body>
	
	<header class="header">
		<div class="header__titulo">
			<span class="icon-home"></span>
			
			<span>Admi Condominios</span>
		</div>
		<div class="header__span">
			<div class="border--radius">
				<img src="img/campana.png" class="img">
			</div>
			<div class="border--radius">
				<img src="img/carta.png" class="img">
			</div>
			
			<div>
				<img src="img/usuario.png" class="img">
				<span class="nombre">john doe</span>
			</div>
		</div>
	</header>
	<nav class="nav">
		<ul>
			<li class="nav__li">
				<span class="icon-user iconos"></span>
				<a href="/informacion-inquilinos" class="nav__enlaces">Infomarcion de inquilinos</a>
			</li>
			<li class="nav__li">
				<span class="icon-user iconos"></span>
				<a href="/informaccion-propietarios" class="nav__enlaces">Infomarcion de Propietarios</a>
			</li >
			<li class="nav__li">
				<span class="icon-file-text iconos"></span>
				<a href="/contrato" class="nav__enlaces">Contrato</a>
			</li >
			<li class="nav__li">
				<span class="icon-office iconos"></span>
				<a href="/alquiler" class="nav__enlaces">Alquiler</a>
			</li>
		</ul>
	</nav>
</body>
</html>