<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Document</title>
	<link rel="stylesheet" href="estilos.css">
	<link rel="stylesheet" href="normalize.css">
</head>
<body>
	<h1>propietario</h1>
		<head>
		<div>
			<h2>Admi Condominios</h2>
		</div>
		<div>
			<span></span>
			<span></span>
			<span></span>
		</div>
	</head>
	<nav>
		<ul>
			<li><a href="/informacion-inquilinos">Infomarcion de inquilinos</a></li>
			<li><a href="/informaccion-propietarios">Infomarcion de Propietarios</a></li>
			<li><a href="/contrato">Contrato</a></li>
			<li><a href="/alquiler">Alquiler</a></li>
		</ul>
	</nav>
</body>
</html>