.main{
	background-color: #fff;
	position: absolute;
	top: 78px;
	left: 213px;
	padding: 10px ;
	width: 78%;
}

.main__titulos, .main__info {
	margin-top: 10px;
	border:  1px solid #C8C8C8;
	padding: 10px;
}
.main__info {
	border: none;
}
.main__titulos span, .main__info span{
	margin-right: 5px;
	border-right: 1px solid #C8C8C8;
	padding-right: 5px
}

.btn{
	cursor: pointer;
	background: none;
	border: none;
	background-color: #5886ff;
	padding:8px;
	color: #fff;
	transition: background ease .5s;
	margin-bottom: 20px
}
.btn:hover{
	
	background-color: #507AEA;
	
}
.main__titulos .no-border{
	border-right: none;
	
}


/*form*/
.form{
	width: 40%;
	background-color: #fff;
	padding: 10px 15px;
	position: absolute;
	top: 10px;
	left: 422px;
	display: none;
}
.informacion{
	display: flex;
	flex-direction: column;
}

.inputn{
	padding: 5px;
}
.btn-margin{
	margin-top: 15px;
}

.span-cerrar{
	position: absolute;
	right: 10px;
	cursor: pointer;
	display: inline-block;
	background-color: #FF4444;
	padding: 10px 12px;
	bottom: 26px;

}

.span-Procedencia{
	font-size: 24px;
	margin: 10px 0
}